<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <form>
      <legend>Action product:</legend>

      <div class="form-group">
        <label>Product's Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter product'name"
        />
      </div>
      <div class="form-group">
        <label>Product's Price:</label>
        <input
          type="number"
          class="form-control"
          placeholder="Enter product'price"
        />
      </div>
      <div class="form-group">
        <label>Product's Status:</label>
        <input type="checkbox" />
        Active
      </div>
      <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
  </body>
</html>
